:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
ul, li{list-style: none;padding: 0; margin: 0;}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.main-content:has(.testbgpage) {
  background: transparent;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* .PixaimgBlockMain{display: flex;justify-content: center; align-items: center;flex-wrap: wrap;gap: 20px;} */
/* .PixaimgBlock{max-width: 300px;} */
/* .PixaimgBlock img {
  object-fit: cover;
  max-width: 300px;
  min-height: 230px;
  max-height: 300px;
} */

.PixaimgBlockMain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.PixaimgBlock{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); object-fit: cover;
}
.PixaimgBlock img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


.container {
  max-width: 1260px;
  margin: 0 auto;
}


 /* Hero Section */
 .hero {
   background-image: url("https://pixabay.com/get/g974c4a48cbb2b76ade9f2e3c6571338476dab159b25f3b2f6823d9752f1e20eded3f503beb0f2555a941f76ab829906dbb48223b21f758bcb8308da4db9065df_1280.jpg");
   background-size: 100% 50%;
   padding: 200px 0;
   background-position: 50% bottom;
   background-repeat: no-repeat;
 }

 .comon-button {
   background-color: green;
   text-align: center;
   border: 0px;
   outline: none;
   color: #fff;
 }

 .hero-content {
   width: 45%;
   text-align: left;
 }

 .hero .container {
   display: flex;
   justify-content: center;
   align-items: anchor-center;
 }

 .hero-images {
   display: flex;
   justify-content: center;
   gap: 20px;
   width: 50%;
 }

 .hero-images img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
 }

 /* Diagonal Sections - Using clip-path */
 .diagonal-section {
   position: relative;
   clip-path: polygon(0 50px, 100% 0, 100% 80%, 0 100%);
   padding: 50px 0;

 }

 .top {
   margin-top: -62px;
   position: relative;
 }

 .top-2 {
   margin-top: -120px;
   position: relative;
 }

 .section-2 {
   background: #694ca7
 }

 .image-banner {
   background: url("https://pixabay.com/get/g974c4a48cbb2b76ade9f2e3c6571338476dab159b25f3b2f6823d9752f1e20eded3f503beb0f2555a941f76ab829906dbb48223b21f758bcb8308da4db9065df_1280.jpg ");
   background-repeat: no-repeat;
   color: #fff;
   background-size: cover;
   padding: 200px 0;
 }

 .logos {
   padding: 100px 0;
   background-color: #fff;
 }

 .logos img {
   max-width: 100px;
   height: auto;
   margin: 0 10px;
 }

 .smallBlock {
   background-color: #fff;
   padding: 100px 0;
 }

 .smallBlock ul {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 .smallBlock ul li {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }

 .smallBlock ul li span {
   padding-bottom: 10px;
 }

 .activities-img {
   display: flex;
   gap: 10px;
 }

 .activities-img img {
   max-width: 400px;
 }

 .activities {
   padding: 100px 0;
 }

 /* Image Banner */
 .image-banner img {
   width: 100%;
   height: auto;

 }

 .bg-pink {
   background-color: pink;
 }

 details {
   background: white;
   border: 1px solid #ddd;
   padding: 10px;
   margin-bottom: 10px;
   cursor: pointer;
 }

 details summary {
   font-weight: bold;
 }
 